Payments.eway/Service References/RapidAPI/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://au.ewaypayments.com/hotpotato" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://au.ewaypayments.com/hotpotato" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://au.ewaypayments.com/hotpotato">
      <s:element name="CreateAccessCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:CreateAccessCodeRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateAccessCodeRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomFields" type="tns:CustomFields" />
              <s:element minOccurs="0" maxOccurs="1" name="Payment" type="tns:Payment" />
              <s:element minOccurs="1" maxOccurs="1" name="ResponseMode" type="tns:ResponseMode" />
              <s:element minOccurs="0" maxOccurs="1" name="RedirectUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BillingCountry" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Action" type="tns:Method" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TokenCustomerID" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SaveToken" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardExpiryMonth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardExpiryYear" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Option1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Option2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Option3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Payment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceReference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseMode">
        <s:restriction base="s:string">
          <s:enumeration value="Redirect" />
          <s:enumeration value="Return" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Method">
        <s:restriction base="s:string">
          <s:enumeration value="ProcessPayment" />
          <s:enumeration value="CreateTokenCustomer" />
          <s:enumeration value="UpdateTokenCustomer" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateAccessCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateAccessCodeResult" type="tns:CreateAccessCodeResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateAccessCodeResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccessCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccessCodeResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetAccessCodeResultRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAccessCodeResultRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AccessCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAccessCodeResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessCodeResultResult" type="tns:GetAccessCodeResultResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAccessCodeResultResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccessCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorisationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Option1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Option2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Option3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TokenCustomerID" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="BeagleScore" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateAccessCodeSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccessCode" />
  </wsdl:message>
  <wsdl:message name="CreateAccessCodeSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccessCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccessCodeResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessCodeResult" />
  </wsdl:message>
  <wsdl:message name="GetAccessCodeResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessCodeResultResponse" />
  </wsdl:message>
  <wsdl:portType name="RapidAPISoap">
    <wsdl:operation name="CreateAccessCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an access code and echos the customer data received in the request. The access code is used for all further requests associated with this transaction.</wsdl:documentation>
      <wsdl:input message="tns:CreateAccessCodeSoapIn" />
      <wsdl:output message="tns:CreateAccessCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessCodeResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Using a previously created access code, a merchant can request all the relevant details of a transaction from eWAY.</wsdl:documentation>
      <wsdl:input message="tns:GetAccessCodeResultSoapIn" />
      <wsdl:output message="tns:GetAccessCodeResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RapidAPISoap" type="tns:RapidAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccessCode">
      <soap:operation soapAction="https://au.ewaypayments.com/hotpotato/CreateAccessCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessCodeResult">
      <soap:operation soapAction="https://au.ewaypayments.com/hotpotato/GetAccessCodeResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RapidAPISoap12" type="tns:RapidAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccessCode">
      <soap12:operation soapAction="https://au.ewaypayments.com/hotpotato/CreateAccessCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessCodeResult">
      <soap12:operation soapAction="https://au.ewaypayments.com/hotpotato/GetAccessCodeResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RapidAPI">
    <wsdl:port name="RapidAPISoap" binding="tns:RapidAPISoap">
      <soap:address location="https://au.ewaypayments.com/hotpotato/soap.asmx" />
    </wsdl:port>
    <wsdl:port name="RapidAPISoap12" binding="tns:RapidAPISoap12">
      <soap12:address location="https://au.ewaypayments.com/hotpotato/soap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>